@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


/* Reset & Base Styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 40px 20px;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.7;
    background-color: #f9f9f9;
    color: #333;
}

/* Headings */
h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;
    color: #222;
}
.project_name {
    font-weight: 600;
    font-size: 48px ;
    font-family: 'Google Sans', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #363636;
    margin:0px 0px 20px;
}
.project_description{
    font-weight: 500;
    font-size: 40px;
    font-family:  'Google Sans', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #363636;
    margin:0px 0px 20px;
}
.author{
    text-align: center;
    color: #008AD7;
    font-size: 20px;
    font-family: 'Noto Sans', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 15px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    color: #444;
}
.abs{
    margin-top: 130px;
    color:#363636;
    font-size: 32px;
    font-family: 'Noto Sans', Tahoma, Geneva, Verdana, sans-serif;
}
.text{
    max-width: 1600px;
    margin: 0 auto;
    padding: 16px;
    font-family: 'Noto Sans', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    color: #4a4a4a;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 20px 0;
  }
  
  .btn {
    background-color: #2e2e2e;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .btn:hover {
    background-color: #444;
    transform: translateY(-2px);
  }
  

  .cifar-container {
    text-align: center;
    margin: 40px auto;
    max-width: 850px;
  }
  
  .cifar-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32px, 1fr));
    grid-gap: 4px;
    justify-items: center;
  }
  
  .cifar-grid img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 2px;
    border: 1px solid #ccc;
  }
  .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 85%;
    max-height: 20px;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  